body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: rgba(231, 233, 252, 1);
}

.logo {
    color: rgba(46, 47, 66, 1);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    list-style-type: none;
}

.logo .logo-accent {
    color: rgba(77, 90, 229, 1);
}

nav {
    color: rgba(46, 47, 66, 1);
    font-size: 16px; 
    font-weight: 500;
    line-height: 24px;
    list-style-type: none;
}

address {
    color: rgba(67, 68, 85, 1); 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
}

